body {
    position: relative;
    z-index: -15;
}
#chessBoard {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    position: relative;
    z-index: -10;
}

.square {
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    position: relative;
    z-index: -1;
}

.white {
    background-color: aliceblue;
    
}

.black {
    background-color: aqua;
}

.piece {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    position: relative;
    z-index: 10;
}

.piece span {
    pointer-events: none;
    font-size: 40px;
}

